body {
    margin: auto;
    background-image: url("https://media.istockphoto.com/vectors/space-stars-vector-illustration-of-the-night-sky-vector-id1131246596?k=6&m=1131246596&s=170667a&w=0&h=aUdMuVkhWVZuoY9pcbVTaEXBghy4OTbtHXJamg6P_GE=");
    overflow: auto;
    overflow-x: hidden;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    /* width: 100vw; */
    /* height: 100vh; */
}

.container {
    grid-template-columns: 15% 15% 20% 20% 15% 15%;
    grid-template-rows: 20% 10% 10% auto 10%;
    display: grid;
}
.rulesDiv{
    padding-left: 40px;
    display: grid;
    width: auto;
    z-index: 1;
    grid-column-start: 5;
    grid-row-start: 2;
}

.rulesButtonTitle{
    padding-left: 40px;
    color: rgb(245, 221, 11);
    font-size: 20px;
    font-weight: 600;
}

#modalButton{
    text-align: center;
    grid-row-start: 2;
}

.rulesImage{
    grid-column-start: 5;
    grid-row-start: 1;
    margin-top: 60px;
    height: 10%;
    margin-left: 100px;
    display: flex;
}

.navbar {
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

#navbarImage {
    max-height: 80%;
    height: 8%;
}

.navbarHeader {
    margin-top: 0;
    font-size: 3rem;
    color: #a4ec28; 
}

.ruleText{
    font-size: 22px;
    font-weight: 600;
    color: rgb(245, 221, 11);
}


.targetScoreArea {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}
.currentScoreArea {
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}

#targetScore {
    color: #a4ec28; 
    padding-right: 50px;
    font-size: 34px;
    font-weight: bolder;
}

#currentScore {
    font-size: 34px;
    font-weight: bolder;
    color: #a4ec28;
}

.scoreTitle{
    padding-right: 10px;
    font-size: 34px;
    color: rgb(245, 221, 11);
}


#gameArea {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    justify-content: center;
    display: flex;
    background-image: url("../images/backgrounds/garage.webp");
    background-size:auto;
}

#mortyArea{
    display: flex;
}

.mortyImage{
    height: 250px;
    width: auto;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
    transition: transform .3s;
    justify-content: center;
}

.mortyButton{
    margin: auto;
}

.mortyImage:hover{
    transform: scale(1.1);
}

.collectedMorty{
    height: 200px;
    width: 100px;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
}

#mortysCollected{
    grid-column-start: 6;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    color: rgb(245, 221, 11);
    font-size: 25px;
    align-items: center;
}

#mortysOnDeck{
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    color: rgb(245, 221, 11);
    font-size: 25px;
    align-items: center;
}

.onDeckMorty{
    height: 150px;
    width: 100px;
    background-color: #a4ec28; 
    margin: 10px;
    border-radius: 10%;
}

.rulesModal{
    margin-top: 150px;
    justify-self: center;
    display: none;
    position: fixed;
    z-index: 1;
    color: black;
    border-radius: 10px;
    background-color: #adfff0;
}
.rulesButton{
    height: 50px;
    width: auto;
    transition: transform .3s;
}

.rulesButton:hover{
    transform: scale(1.5);
}

.modalContent{
    padding: 10px;
    font-size: 24px;
    text-align: center;
    line-height: .5;
    font-weight: 600; 
    /* color: #7bc202;  */
}

.footer-container {
    /* margin: 20px;
    display: flex;
    text-align: center;
    margin-top: 40px; */
}
  
.social-icon{
    /* margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px; */
}