body{
    background-image: url("../images/background.jpg");
}

.container {
    margin: auto;
    margin-top: 25px;
}

.crystals{
    display: flex;
    float: left;
}

.col-md-4.instructions{
    background-color: rgb(207, 126, 21);
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
    
.col-md-5{
    color: black;
    background-color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    border-radius: 10px;
    padding: 10px;
}

.col-md-2.win-lost{
    background-color: light rgb(14, 229, 245);
    /* position: relative; */
    /* float: left; */
}

#target{
    float: left;
    background-color: rgb(86, 175, 86);
    color: black;
    font-size: 36px;
    padding: 40px;
    margin: 10px;
    line-height: 1.5em;
    border-radius: 10px;

}

.crystal{
    border:1px solid red;
    height: 200px;
    width: 200px;
    margin: 15px;
}

#win {
    padding-top: 15px;
    font-size: large;
    font-weight: bold;

}

#lost {
    font-size: large;
    font-weight: bold;
}

#currentNum {
    font-size: large;
    font-weight: bold;
}
