body {
    margin: auto;
    background-color: #e8ebeb;
    background-image: url("https://media.istockphoto.com/vectors/space-stars-vector-illustration-of-the-night-sky-vector-id1131246596?k=6&m=1131246596&s=170667a&w=0&h=aUdMuVkhWVZuoY9pcbVTaEXBghy4OTbtHXJamg6P_GE=");
}

.container {
    text-align: center;
}

.navbar { 
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("https://media.istockphoto.com/vectors/space-stars-vector-illustration-of-the-night-sky-vector-id1131246596?k=6&m=1131246596&s=170667a&w=0&h=aUdMuVkhWVZuoY9pcbVTaEXBghy4OTbtHXJamg6P_GE=");
}

#navbarImage {
    height:100px;
    width: 250px;
    position: absolute;
    left: 0;
}

.navbarHeader {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #a4ec28; 
}

.ruleText{
    font-size: 22px;
    font-weight: 600;
    color: rgb(245, 221, 11);
}


.scoreArea {
    position: relative;
    display: flex;
    justify-content: center;
}

#targetScore {
    color: #a4ec28; 
    padding-right: 50px;

}
.scoreTitle{
    color: rgb(245, 221, 11);

}

#currentScore {
    color: #a4ec28; 


}

#gameArea {
    justify-content: center;
    display: flex;
    background-image: url("../images/backgrounds/garage.webp");
    background-size: cover;
    height: 700px;
    width: 80%;
    margin: auto;
}

#mortyArea{
    display: flex;
}

.mortyImage{
    height: 350px;
    width: auto;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
    transition: transform .3s;
}

.mortyImage:hover{
    transform: scale(1.1);
}

.collectedMorty{
    height: 200px;
    width: 100px;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
}

#mortysCollected{
    display: flex;
    flex-direction: column;
    color: #a4ec28; 
    float: right;
    font-size: 25px;
}

#mortysOnDeck{
    display: flex;
    flex-direction: column;
    color: #a4ec28; 
    float: left;
    font-size: 25px;
}

.onDeckMorty{
    height: 150px;
    width: 100px;
    background-color: #a4ec28; 
    margin: 10px;
    border-radius: 10%;
}
