body {
    margin: auto;
    background-color: #e8ebeb;
    background-image: url("https://media.istockphoto.com/vectors/space-stars-vector-illustration-of-the-night-sky-vector-id1131246596?k=6&m=1131246596&s=170667a&w=0&h=aUdMuVkhWVZuoY9pcbVTaEXBghy4OTbtHXJamg6P_GE=");
    overflow: auto;
}

.container {
    grid-template-columns: 15% 15% 20% 20% 15% 15%;
    grid-template-rows: 20% 10% 10% auto 10%;
    display: grid;
    width: 100vw;
    height: 100vh;
}

.navbar { 
    grid-column-start: 2;
    grid-column-end: 6;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("https://media.istockphoto.com/vectors/space-stars-vector-illustration-of-the-night-sky-vector-id1131246596?k=6&m=1131246596&s=170667a&w=0&h=aUdMuVkhWVZuoY9pcbVTaEXBghy4OTbtHXJamg6P_GE=");
}

#navbarImage {
    height:100px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0; 
}
#lol{
    color: white;
}

.navbarHeader {
    text-align: center;
    justify-content: center;
    font-size: 48px;
    color: #a4ec28; 
}

.ruleText{
    font-size: 22px;
    font-weight: 600;
    color: rgb(245, 221, 11);
}


.targetScoreArea {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}
.currentScoreArea {
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}

#targetScore {
    color: #a4ec28; 
    padding-right: 50px;
    font-size: 26px;
    font-weight: bolder;
}

#currentScore {
    font-size: 26px;
    font-weight: bolder;
    color: #a4ec28;
}

.scoreTitle{
    padding-right: 10px;
    font-size: 24px;
    color: rgb(245, 221, 11);
}


#gameArea {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    justify-content: center;
    display: flex;
    background-image: url("../images/backgrounds/garage.webp");
    background-size: cover;
    /* height: 700px;
    width: 80%; */
    /* margin: auto; */
}

#mortyArea{
    display: flex;
}

.mortyImage{
    height: 250px;
    width: auto;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
    transition: transform .3s;
    justify-content: center;
}

.mortyButton{
    margin: auto;
}

.mortyImage:hover{
    transform: scale(1.1);
}

.collectedMorty{
    height: 200px;
    width: 100px;
    background-color: #a4ec28;
    margin: 10px;
    border-radius: 10%;
}

#mortysCollected{
    grid-column-start: 6;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    color: #a4ec28; 
    font-size: 25px;
    align-items: center;
}

#mortysOnDeck{
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    color: #a4ec28; 
    font-size: 25px;
    align-items: center;
}

.onDeckMorty{
    height: 150px;
    width: 100px;
    background-color: #a4ec28; 
    margin: 10px;
    border-radius: 10%;
}

.rulesModal{
display: none;
position: fixed;
z-index: 1;
width: 100%;
height: 100%;
background-color: white;
color: black;
}

#modal{

}

.modalContent{

}